<template>
  <v-container>
    <v-text-field label="Write something" v-model="title" required clearable counter></v-text-field>
    <v-btn @click="submit">Submit</v-btn>
    <v-snackbar
      class="mb-6"
      outlined
      color="green"
      v-model="snackbar"
      :timeout="timeout"
    >
      {{ text }}
    </v-snackbar>
  </v-container>
</template>

<script>
import {mapActions, mapMutations} from "vuex";

export default {
  name: "postForm",
  data() {
    return {
      title: '',
      completed: false,
      snackbar: false,
      text: `Successfully created`,
      timeout: 1500,


    }
  },
  methods: {
    ...mapActions(['fetchPosts']),
    ...mapMutations(['createPost']),

    submit() {
      if (this.title) {
        this.createPost({
        title: this.title,
        completed: false,
        id: Date.now()
      },
      this.title = '',
      this.snackbar = true
      )}
    }
  },
}
</script>

<style scoped>

</style>