<template>
  <v-container>
    <h1>Количество постов: {{ postCount }}</h1>
  </v-container>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "postCount",
    computed: mapGetters(['postCount']),
}
</script>

<style scoped>

</style>