<template>
  <v-container>
    <v-card
      v-for="post in validPosts"
      :key="post.id"
      class="ma-3 text-center"
    >
<!--      Текст todos-->
      <v-card-text
        :class="{'green text-decoration-line-through' : post.completed}"
        class="blue text-h4 black--text">
        {{ post.title }}
<!--      <v-text-field v-if="edit = true" v-model="post.title"></v-text-field>-->
      </v-card-text>
<!--      Поле complete-->
      <v-checkbox
        class="ml-3"
        v-model="post.completed"
        :label="`${post.completed? 'Completed' : 'Complete'}`"
      ></v-checkbox>
<!--      Диалоговое окно "Действительно удалить пост?"-->
      <v-dialog
        v-model="dialog"
        max-width="400"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="ma-2"
            color="red lighten-2"
            dark
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="text-h5 grey lighten-2">
            <v-row><v-col>Are you sure you want to delete post "{{ post.title }}"?</v-col></v-row>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-actions class="pa-4">
            <v-spacer></v-spacer>
            <v-btn
              color="red"
              text
              @click="deletePost(post.id), dialog = false"
            >
              Delete
            </v-btn>
            <v-btn
              color="primary"
              text
              @click="dialog = false"
            >
              Back
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-container>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";

export default {
  name: "postCard",
  data() {
    return {
      dialog: false,
      completed: false,
    }
  },
  computed: mapGetters(['validPosts']),
  methods: {
    ...mapMutations(['deletePost','editPost']),
  }
}
</script>

<style scoped>

</style>