<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
    </v-app-bar>
    <v-main>
      <v-row no-gutters justify="center">
        <v-col cols="12" md="6" sm="9" class="text-center">
          <post-form />
          <post-count v-show="postCount > 0"/>
          <post-card />
          <h1 v-show="postCount == 0">Create new todos!</h1>
        </v-col>
      </v-row>
    </v-main>
  </v-app>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from 'vuex'
import postCard from "./components/post/postCard";
import postCount from "./components/post/postCount";
import postForm from "./components/post/postForm";

export default {
  name: 'App',
  components: {
    postForm,
    postCount,
    postCard
  },
  computed: mapGetters(['allPosts','postCount']),
  methods: {
    ...mapActions(['fetchPosts']),
    ...mapMutations(['createPost']),

    submit() {
      this.createPost({
        title: this.title,
        body: this.body,
        id: Date.now()
      },
      this.title = this.body = '')
      }
  },
  mounted() {
    this.fetchPosts()
  }
};
</script>
